        @media (max-width: 1600px) {
            .card-buy-button {
                left: 0.9vw !important;
                bottom: 1vw !important;
            }
        }
        
        @media (max-width: 1400px) {
            .card-buy-button {
                padding: 0.3vw 1.8vw 0.3vw 1.8vw !important;
                font-size: 1vw !important;
                left: 1.2vw !important;
            }
            .buy-card {
                height: 23vw !important;
            }
            .header-slider-text {
                width: 35vw !important;
            }
            .header-slider-auth {
                bottom: 6vw !important;
            }
            .slider-buttons {
                bottom: 2vw !important;
            }
        }
        
        @media (max-width: 1024px) {
            .card-small-desc {
                position: relative;
                bottom: 1.5vw !important;
                padding-bottom: 0vw !important;
            }
            .card-buy-button {
                bottom: 2.5vw !important;
            }
        }
        
        @media (max-width: 768px) {
            .navbar img {
                width: 30vw !important;
                position: relative !important;
                right: 5vw !important;
            }
            .header-top-text {
                position: relative;
                left: 10vw !important;
                width: 20vw !important;
            }
            .header-desc {
                width: 30vw !important;
                margin: 0 auto;
                padding-bottom: 2vw;
            }
            .navbar {
                width: 100vw !important;
                margin: 0 auto;
            }
            .navbar li {
                font-size: 2.2vw !important;
                margin-left: 2vw !important;
            }
            .navbar-text {
                right: 5vw !important;
            }
            .header-title {
                font-size: 4vw !important;
            }
            .img-name {
                position: absolute;
                left: 26.5vw !important;
                width: 2.5vw !important;
                top: 4.8vw !important;
            }
            .header-top-input {
                width: 33vw !important;
                height: 35vw !important;
                left: 30vw !important;
            }
            .img-email {
                position: absolute;
                left: 26.5vw !important;
                width: 2.5vw !important;
                top: 10.8vw !important;
            }
            .img-phone {
                position: absolute;
                left: 26.5vw !important;
                width: 2.5vw !important;
                top: 16.8vw !important;
            }
            .input_area {
                width: 28vw !important;
                height: 5vw !important;
                font-size: 1.7vw !important;
                margin-bottom: 0vw !important;
            }
            .header-input-div {
                position: relative;
                bottom: 5vw !important;
            }
            .header-top-input p {
                font-size: 2.8vw !important;
            }
            .header-body button {
                padding: 1vw 1vw 1vw 1vw !important;
                font-size: 1.5vw !important;
                position: relative !important;
                bottom: 2vw !important;
            }
            .logotype-block-text {
                width: 110vw !important;
                position: relative;
                right: 10vw !important;
            }
            .logotype-block-text p {
                font-size: 2.5vw !important;
                width: 60vw !important;
                left: 22vw !important;
            }
            .header-down-text {
                font-size: 2.5vw !important;
            }
            .slick-list {
                width: 100vw !important;
            }
            .slide img {
                width: 16vw !important;
                bottom: 8vw !important;
                right: 4vw;
            }
            .header-slider-text {
                bottom: 12.5vw !important;
            }
            .header-slider {
                width: 100vw !important;
                position: relative;
                left: 7vw;
                top: 6vw;
                margin: 0 auto;
            }
            .slide {
                width: 80vw !important;
                height: 15vw !important;
                margin: 2vw 5vw 2vw 2vw;
                position: relative !important;
                left: 8vw !important;
            }
            .header-slider-text {
                position: relative;
                width: 60vw !important;
                font-size: 2.5vw !important;
                left: 12vw !important;
                bottom: 20vw !important;
            }
            .fa-quote-right {
                left: 73vw !important;
                top: 8vw !important;
                font-size: 2vw !important;
            }
            .body-title {
                font-size: 2.9vw !important;
                position: relative;
                right: 5vw !important;
            }
            .slider-img {
                width: 75vw !important;
                position: relative;
                left: 7vw !important;
            }
            .logo-title-1 {
                font-size: 2.6vw !important;
                width: 70vw !important;
                left: 10vw !important;
            }
            .logo-title {
                padding-top: 30vw !important;
                padding-bottom: 0vw !important;
            }
            .logo-button {
                font-size: 2.3vw !important;
            }
            .slider-buttons {
                height: 70vw;
                position: relative;
                left: 0vw !important;
            }
            .demo-button p {
                font-size: 2vw !important;
            }
            .demo-button-text {
                width: 30vw !important;
            }
            .demo-button-text span {
                font-size: 1.5vw !important;
            }
            .demo-button p {
                margin-bottom: 0rem !important;
            }
            .demo-button img {
                width: 4vw !important;
                right: 4vw !important;
                top: 0.4vw;
            }
            .demo-button {
                margin-bottom: 0rem !important;
            }
            .slider-buttons {
                bottom: 5vw !important;
            }
            .demo-button-active {
                background: transparent !important;
                border: 1px solid transparent !important;
                box-shadow: 2px 2px 8px transparent !important;
            }
            .logo-row {
                position: relative !important;
                top: 20vw !important;
            }
            .logo-title {
                font-size: 3vw !important;
            }
            .buy-info {
                top: 20vw !important;
                right: 13vw !important;
                padding-bottom: 20vw !important;
            }
            .buy-info-card img {
                width: 25vw !important;
            }
            .logotype-list img {
                width: 80vw !important;
                position: relative;
                left: 5vw !important;
            }
            .buy-info-title {
                font-size: 2.5vw !important;
                width: 20vw !important;
            }
            .buy-info-desc {
                font-size: 2vw !important;
                width: 20vw !important;
            }
            .buy__cards {
                width: 90vw !important;
                margin: 0 auto;
                left: 0vw;
                position: relative;
                padding-top: 10vw;
            }
            .buy-cards-title {
                font-size: 2.7vw !important;
                left: 20vw !important;
            }
            .buy-card {
                height: 40vw !important;
                width: 25vw !important;
                border-radius: 0.5vw;
                right: 7vw !important;
                position: relative !important;
                margin-right: 2vw !important;
            }
            .card-buy-desc {
                font-size: 1.7vw !important;
                padding-top: 0vw !important;
            }
            .b2b-cards {
                left: 17vw !important;
            }
            .card-buy-price {
                font-size: 4.5vw !important;
                padding-bottom: 4vw !important;
            }
            .buy__cards {
                width: 70vw;
                left: 20vw !important;
            }
            .card-buy-name {
                font-size: 1.5vw !important;
            }
            .card-buy-price sup {
                font-size: 2.5vw !important;
            }
            .buy-card-button {
                font-size: 2vw !important;
                left: 4vw !important;
            }
            .buy-card-price {
                height: 14vw !important;
            }
            .buy-card p {
                margin-bottom: 0.5rem !important;
            }
            .buy-card-body {
                font-size: 1.6vw !important;
            }
            .buy-card-more {
                font-size: 1.9vw !important;
            }
            .buy-card-body hr {
                margin-bottom: 0rem !important;
                margin-top: 0rem !important;
            }
            .distro-cards-title {
                font-size: 2.7vw !important;
            }
            .distro-title {
                font-size: 2.3vw !important;
                width: 20vw !important;
                font-weight: 700 !important;
            }
            .distro-desc {
                width: 17vw !important;
                font-size: 1.5vw !important;
            }
            .distro-card-list {
                left: 10vw !important;
                top: 0vw !important;
            }
            .distro-card p {
                margin-bottom: 0.3rem !important;
            }
            .distro-cards {
                height: 50vw !important;
                width: 105vw !important;
                right: 4vw !important;
            }
            .reviews button {
                font-size: 3.2vw !important;
                left: 35vw !important;
                font-weight: 500 !important;
            }
            .b2b-card i {
                font-size: 5vw !important;
            }
            .b2b-card-desc {
                width: 28vw !important;
                font-size: 1.6vw !important;
            }
            .b2b-card-title {
                font-size: 2.5vw !important;
            }
            .pre-footer-title {
                top: 9vw !important;
                right: 0vw !important;
            }
            .month-price {
                font-size: 1vw !important;
                bottom: 6.3vw !important;
            }
            .card-small-desc {
                font-size: 1.2vw !important;
                position: relative;
                bottom: 6vw !important;
                left: 3vw !important;
            }
            .card-buy-button {
                padding: 0.3vw 1.8vw 0.3vw 1.8vw !important;
                font-size: 2vw !important;
                left: 3vw !important;
                bottom: 9vw !important;
            }
            .card-desc {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                font-size: 1.7vw !important;
                position: relative;
                top: 1vw;
                left: 4vw !important;
            }
            .pre-footer-title {
                font-size: 3.5vw !important;
            }
            .footer {
                height: 10vw !important;
                position: relative;
                top: 60vw !important;
                width: 105vw !important;
                right: 5vw !important;
            }
            .footer p {
                font-size: 2vw !important;
            }
            .rev-title {
                left: 10vw !important;
                position: relative;
                font-size: 2.8vw !important;
            }
            .reviews-block img {
                border-radius: 10vw !important;
                border: 2px solid #424242;
                width: 12vw !important;
                height: 12vw !important;
            }
            .rev-title-block {
                font-size: 2.5vw !important;
            }
            .rev-title-desc {
                width: 50vw !important;
                font-size: 1.3vw !important;
            }
            .rev-text p {
                margin-bottom: 0rem !important;
            }
            .rev-text {
                left: 3vw !important;
            }
            .reviews-block {
                left: 20vw !important;
            }
            .questions {
                position: relative;
                top: 60vw !important;
                height: 270vw !important;
            }
            .question-title {
                font-size: 3.5vw !important;
                font-weight: 700 !important;
            }
            .questions-title {
                font-size: 3vw !important;
                width: 80vw !important;
            }
            .question-desc {
                font-size: 1.8vw !important;
            }
            .question {
                position: relative !important;
                right: 6vw !important;
            }
            .questions-title-2 {
                font-size: 3.5vw;
                top: 4vw !important;
                font-weight: 700 !important;
            }
            .footer-left img {
                width: 35vw !important;
                right: 30vw !important;
                top: 4vw;
            }
            .footer-left-desc {
                width: 30vw !important;
                left: 10vw !important;
            }
            .footer-left-link {
                right: 35vw !important;
            }
            .footer-center {
                position: relative;
                left: 38vw !important;
                bottom: 36vw !important;
            }
            .footer-center-link {
                font-size: 2vw !important;
            }
            .footer-right {
                left: 65vw !important;
                bottom: 67vw !important;
            }
            .footer-left {
                position: relative !important;
                left: 0vw !important;
            }
            .footer-hr {
                position: relative;
                bottom: 40vw !important;
            }
            .footer-down {
                position: relative !important;
                display: none !important;
                bottom: 40vw !important;
            }
        }
        
        @media (max-width: 414px) {
            .navbar img {
                width: 30vw !important;
                position: relative !important;
                right: 5vw !important;
            }
            .header-top-text {
                position: relative;
                left: 10vw !important;
                width: 20vw !important;
            }
            .header-desc {
                width: 30vw !important;
                margin: 0 auto;
                padding-bottom: 2vw;
            }
            .navbar {
                width: 100vw !important;
                margin: 0 auto;
            }
            .navbar li {
                font-size: 2.2vw !important;
                margin-left: 2vw !important;
            }
            .navbar-text {
                right: 5vw !important;
            }
            .header-title {
                font-size: 4vw !important;
            }
            .img-name {
                position: absolute;
                left: 26.5vw !important;
                width: 2.5vw !important;
                top: 4.8vw !important;
            }
            .header-top-input {
                width: 33vw !important;
                height: 35vw !important;
                left: 30vw !important;
            }
            .img-email {
                position: absolute;
                left: 26.5vw !important;
                width: 2.5vw !important;
                top: 10.8vw !important;
            }
            .img-phone {
                position: absolute;
                left: 26.5vw !important;
                width: 2.5vw !important;
                top: 16.8vw !important;
            }
            .input_area {
                width: 28vw !important;
                height: 5vw !important;
                font-size: 1.7vw !important;
                margin-bottom: 0vw !important;
            }
            .header-input-div {
                position: relative;
                bottom: 5vw !important;
            }
            .header-top-input p {
                font-size: 2.8vw !important;
            }
            .header-body button {
                padding: 1vw 1vw 1vw 1vw !important;
                font-size: 1.5vw !important;
                position: relative !important;
                bottom: 2vw !important;
            }
            .logotype-block-text {
                width: 110vw !important;
                position: relative;
                right: 10vw !important;
            }
            .logotype-block-text p {
                font-size: 2.5vw !important;
                width: 60vw !important;
                left: 22vw !important;
            }
            .header-down-text {
                font-size: 2.5vw !important;
            }
            .slick-list {
                width: 100vw !important;
            }
            .slide img {
                width: 16vw !important;
                bottom: 8vw !important;
                right: 4vw;
            }
            .header-slider-text {
                bottom: 12.5vw !important;
            }
            .header-slider {
                width: 100vw !important;
                position: relative;
                left: 7vw;
                top: 6vw;
                margin: 0 auto;
            }
            .slide {
                width: 80vw !important;
                height: 15vw !important;
                margin: 2vw 5vw 2vw 2vw;
                position: relative !important;
                left: 8vw !important;
            }
            .header-slider-text {
                position: relative;
                width: 60vw !important;
                font-size: 2.5vw !important;
                left: 12vw !important;
                bottom: 20vw !important;
            }
            .fa-quote-right {
                left: 73vw !important;
                top: 8vw !important;
                font-size: 2vw !important;
            }
            .body-title {
                font-size: 2.9vw !important;
                position: relative;
                right: 5vw !important;
            }
            .slider-img {
                width: 75vw !important;
                position: relative;
                left: 7vw !important;
            }
            .logo-title-1 {
                font-size: 2.6vw !important;
                width: 70vw !important;
                left: 10vw !important;
            }
            .logo-title {
                padding-top: 30vw !important;
                padding-bottom: 0vw !important;
            }
            .logo-button {
                font-size: 2.3vw !important;
            }
            .slider-buttons {
                height: 70vw;
                position: relative;
                left: 0vw !important;
            }
            .demo-button p {
                font-size: 2vw !important;
            }
            .demo-button-text {
                width: 30vw !important;
            }
            .demo-button-text span {
                font-size: 1.5vw !important;
            }
            .demo-button p {
                margin-bottom: 0rem !important;
            }
            .demo-button img {
                width: 4vw !important;
                right: 4vw !important;
                top: 0.4vw;
            }
            .demo-button {
                margin-bottom: 0rem !important;
            }
            .slider-buttons {
                bottom: 5vw !important;
            }
            .demo-button-active {
                background: transparent !important;
                border: 1px solid transparent !important;
                box-shadow: 2px 2px 8px transparent !important;
            }
            .logo-row {
                position: relative !important;
                top: 20vw !important;
            }
            .logo-title {
                font-size: 3vw !important;
            }
            .buy-info {
                top: 20vw !important;
                right: 13vw !important;
                padding-bottom: 20vw !important;
            }
            .buy-info-card img {
                width: 25vw !important;
            }
            .logotype-list img {
                width: 80vw !important;
                position: relative;
                left: 5vw !important;
            }
            .buy-info-title {
                font-size: 2.5vw !important;
                width: 20vw !important;
            }
            .buy-info-desc {
                font-size: 2vw !important;
                width: 20vw !important;
            }
            .buy__cards {
                width: 90vw !important;
                margin: 0 auto;
                left: 0vw;
                position: relative;
                padding-top: 10vw;
            }
            .buy-cards-title {
                font-size: 2.7vw !important;
                left: 20vw !important;
            }
            .buy-card {
                height: 40vw !important;
                width: 25vw !important;
                border-radius: 0.5vw;
                right: 7vw !important;
                position: relative !important;
                margin-right: 2vw !important;
            }
            .card-buy-desc {
                font-size: 1.7vw !important;
                padding-top: 0vw !important;
            }
            .b2b-cards {
                left: 17vw !important;
            }
            .card-buy-price {
                font-size: 4.5vw !important;
                padding-bottom: 4vw !important;
            }
            .buy__cards {
                width: 70vw;
                left: 20vw !important;
            }
            .card-buy-name {
                font-size: 1.5vw !important;
            }
            .card-buy-price sup {
                font-size: 2.5vw !important;
            }
            .buy-card-button {
                font-size: 2vw !important;
                left: 4vw !important;
            }
            .buy-card-price {
                height: 14vw !important;
            }
            .buy-card p {
                margin-bottom: 0.5rem !important;
            }
            .buy-card-body {
                font-size: 1.6vw !important;
            }
            .buy-card-more {
                font-size: 1.9vw !important;
            }
            .buy-card-body hr {
                margin-bottom: 0rem !important;
                margin-top: 0rem !important;
            }
            .distro-cards-title {
                font-size: 2.7vw !important;
            }
            .distro-title {
                font-size: 2.3vw !important;
                width: 20vw !important;
                font-weight: 700 !important;
            }
            .distro-desc {
                width: 17vw !important;
                font-size: 1.5vw !important;
            }
            .distro-card-list {
                left: 10vw !important;
                top: 0vw !important;
            }
            .distro-card p {
                margin-bottom: 0.3rem !important;
            }
            .distro-cards {
                height: 50vw !important;
                width: 105vw !important;
                right: 4vw !important;
            }
            .reviews button {
                font-size: 3.2vw !important;
                left: 35vw !important;
                font-weight: 500 !important;
            }
            .b2b-card i {
                font-size: 5vw !important;
            }
            .b2b-card-desc {
                width: 28vw !important;
                font-size: 1.6vw !important;
            }
            .b2b-card-title {
                font-size: 2.5vw !important;
            }
            .pre-footer-title {
                top: 9vw !important;
                right: 0vw !important;
            }
            .month-price {
                font-size: 1vw !important;
                bottom: 6.3vw !important;
            }
            .card-small-desc {
                font-size: 1.2vw !important;
                position: relative;
                bottom: 6vw !important;
                left: 3vw !important;
            }
            .card-buy-button {
                padding: 0.3vw 1.8vw 0.3vw 1.8vw !important;
                font-size: 2vw !important;
                left: 3vw !important;
                bottom: 9vw !important;
            }
            .card-desc {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                font-size: 1.7vw !important;
                position: relative;
                top: 1vw;
                left: 4vw !important;
            }
            .pre-footer-title {
                font-size: 3.5vw !important;
            }
            .footer {
                height: 10vw !important;
                position: relative;
                top: 60vw !important;
                width: 105vw !important;
                right: 5vw !important;
            }
            .footer p {
                font-size: 2vw !important;
            }
            .rev-title {
                left: 10vw !important;
                position: relative;
                font-size: 2.8vw !important;
            }
            .reviews-block img {
                border-radius: 10vw !important;
                border: 2px solid #424242;
                width: 12vw !important;
                height: 12vw !important;
            }
            .rev-title-block {
                font-size: 2.5vw !important;
            }
            .rev-title-desc {
                width: 50vw !important;
                font-size: 1.3vw !important;
            }
            .rev-text p {
                margin-bottom: 0rem !important;
            }
            .rev-text {
                left: 3vw !important;
            }
            .reviews-block {
                left: 20vw !important;
            }
            .questions {
                position: relative;
                top: 60vw !important;
                height: 270vw !important;
            }
            .question-title {
                font-size: 3.5vw !important;
                font-weight: 700 !important;
            }
            .questions-title {
                font-size: 3vw !important;
                width: 80vw !important;
            }
            .question-desc {
                font-size: 1.8vw !important;
            }
            .question {
                position: relative !important;
                right: 6vw !important;
            }
            .questions-title-2 {
                font-size: 3.5vw;
                top: 4vw !important;
                font-weight: 700 !important;
            }
            .footer-left img {
                width: 35vw !important;
                right: 30vw !important;
                top: 4vw;
            }
            .footer-left-desc {
                width: 30vw !important;
                left: 10vw !important;
            }
            .footer-left-link {
                right: 35vw !important;
            }
            .footer-center {
                position: relative;
                left: 38vw !important;
                bottom: 36vw !important;
            }
            .footer-center-link {
                font-size: 2vw !important;
            }
            .footer-right {
                left: 65vw !important;
                bottom: 67vw !important;
            }
            .footer-left {
                position: relative !important;
                left: 0vw !important;
            }
            .footer-hr {
                position: relative;
                bottom: 40vw !important;
            }
            .footer-down {
                position: relative !important;
                display: none !important;
                bottom: 40vw !important;
            }
        }
        
        @media (max-width: 375px) {
            .navbar img {
                width: 30vw !important;
                position: relative !important;
                right: 5vw !important;
            }
            .header-top-text {
                position: relative;
                left: 10vw !important;
                width: 20vw !important;
            }
            .header-desc {
                width: 30vw !important;
                margin: 0 auto;
                padding-bottom: 2vw;
            }
            .navbar {
                width: 100vw !important;
                margin: 0 auto;
            }
            .navbar li {
                font-size: 2.2vw !important;
                margin-left: 2vw !important;
            }
            .navbar-text {
                right: 5vw !important;
            }
            .header-title {
                font-size: 4vw !important;
            }
            .img-name {
                position: absolute;
                left: 26.5vw !important;
                width: 2.5vw !important;
                top: 4.8vw !important;
            }
            .header-top-input {
                width: 33vw !important;
                height: 35vw !important;
                left: 35vw !important;
            }
            .img-email {
                position: absolute;
                left: 26.5vw !important;
                width: 2.5vw !important;
                top: 11.8vw !important;
            }
            .img-phone {
                position: absolute;
                left: 26.5vw !important;
                width: 2.5vw !important;
                top: 17.8vw !important;
            }
            .input_area {
                width: 28vw !important;
                height: 5vw !important;
                font-size: 1.7vw !important;
                margin-bottom: 0vw !important;
            }
            .header-input-div {
                position: relative;
                bottom: 5vw !important;
            }
            .header-top-input p {
                font-size: 2.8vw !important;
            }
            .header-body button {
                padding: 1vw 1vw 1vw 1vw !important;
                font-size: 1.2vw !important;
                position: relative !important;
                bottom: 2vw !important;
            }
            .logotype-block-text {
                width: 110vw !important;
                position: relative;
                right: 10vw !important;
            }
            .logotype-block-text p {
                font-size: 2.5vw !important;
                width: 60vw !important;
                left: 22vw !important;
            }
            .header-down-text {
                font-size: 2.5vw !important;
            }
            .slick-list {
                width: 100vw !important;
            }
            .slide img {
                width: 16vw !important;
                bottom: 8vw !important;
                right: 4vw;
            }
            .header-slider-text {
                bottom: 12.5vw !important;
            }
            .header-slider {
                width: 100vw !important;
                position: relative;
                left: 7vw;
                top: 6vw;
                margin: 0 auto;
            }
            .slide {
                width: 80vw !important;
                height: 15vw !important;
                margin: 2vw 5vw 2vw 2vw;
                position: relative !important;
                left: 8vw !important;
            }
            .header-slider-text {
                position: relative;
                width: 60vw !important;
                font-size: 2.5vw !important;
                left: 12vw !important;
                bottom: 20vw !important;
            }
            .fa-quote-right {
                left: 73vw !important;
                top: 8vw !important;
                font-size: 2vw !important;
            }
            .body-title {
                font-size: 2.9vw !important;
                position: relative;
                right: 5vw !important;
            }
            .slider-img {
                width: 75vw !important;
                position: relative;
                left: 7vw !important;
            }
            .logo-title-1 {
                font-size: 2.6vw !important;
                width: 70vw !important;
                left: 10vw !important;
            }
            .logo-title {
                padding-top: 30vw !important;
                padding-bottom: 0vw !important;
            }
            .logo-button {
                font-size: 2.3vw !important;
            }
            .slider-buttons {
                height: 70vw;
                position: relative;
                left: 0vw !important;
            }
            .demo-button p {
                font-size: 2vw !important;
            }
            .demo-button-text {
                width: 30vw !important;
            }
            .demo-button-text span {
                font-size: 1.5vw !important;
            }
            .demo-button p {
                margin-bottom: 0rem !important;
            }
            .demo-button img {
                width: 4vw !important;
                right: 4vw !important;
                top: 0.4vw;
            }
            .demo-button {
                margin-bottom: 0rem !important;
            }
            .slider-buttons {
                bottom: 5vw !important;
            }
            .demo-button-active {
                background: transparent !important;
                border: 1px solid transparent !important;
                box-shadow: 2px 2px 8px transparent !important;
            }
            .logo-row {
                position: relative !important;
                top: 20vw !important;
            }
            .logo-title {
                font-size: 3vw !important;
            }
            .buy-info {
                top: 20vw !important;
                right: 14vw !important;
                padding-bottom: 20vw !important;
            }
            .buy-info-card img {
                width: 25vw !important;
            }
            .logotype-list img {
                width: 80vw !important;
                position: relative;
                left: 5vw !important;
            }
            .buy-info-title {
                font-size: 2.5vw !important;
                width: 20vw !important;
            }
            .buy-info-desc {
                font-size: 2vw !important;
                width: 20vw !important;
            }
            .buy__cards {
                width: 90vw !important;
                margin: 0 auto;
                left: 0vw;
                position: relative;
                padding-top: 10vw;
            }
            .buy-cards-title {
                font-size: 2.7vw !important;
                left: 17vw !important;
            }
            .buy-card {
                height: 40vw !important;
                width: 25vw !important;
                border-radius: 0.5vw;
                right: 3vw !important;
                position: relative !important;
                margin-right: 2vw !important;
            }
            .card-buy-desc {
                font-size: 1.7vw !important;
                padding-top: 0vw !important;
            }
            .card-buy-price {
                font-size: 4.5vw !important;
                padding-bottom: 4vw !important;
            }
            .b2b-cards {
                position: relative;
                left: 16vw !important;
            }
            .buy__cards {
                width: 70vw;
                left: 15vw !important;
            }
            .card-buy-name {
                font-size: 1.5vw !important;
            }
            .card-buy-price sup {
                font-size: 2.5vw !important;
            }
            .buy-card-button {
                font-size: 2vw !important;
                left: 4vw !important;
            }
            .buy-card-price {
                height: 14vw !important;
            }
            .buy-card p {
                margin-bottom: 0.5rem !important;
            }
            .buy-card-body {
                font-size: 1.6vw !important;
            }
            .buy-card-more {
                font-size: 1.9vw !important;
            }
            .buy-card-body hr {
                margin-bottom: 0rem !important;
                margin-top: 0rem !important;
            }
            .distro-cards-title {
                font-size: 2.7vw !important;
            }
            .distro-title {
                font-size: 2.3vw !important;
                width: 20vw !important;
                font-weight: 700 !important;
            }
            .distro-desc {
                width: 17vw !important;
                font-size: 1.5vw !important;
            }
            .distro-card-list {
                left: 10vw !important;
                top: 0vw !important;
            }
            .distro-card p {
                margin-bottom: 0.3rem !important;
            }
            .distro-cards {
                height: 50vw !important;
                width: 105vw !important;
                right: 4vw !important;
            }
            .reviews button {
                font-size: 2.5vw !important;
                left: 35vw !important;
                height: 5vw !important;
                font-weight: 500 !important;
            }
            .b2b-card i {
                font-size: 5vw !important;
            }
            .b2b-card-desc {
                width: 28vw !important;
                font-size: 1.6vw !important;
            }
            .b2b-card-title {
                font-size: 2.5vw !important;
            }
            .pre-footer-title {
                top: 9vw !important;
                right: 0vw !important;
            }
            .month-price {
                font-size: 1vw !important;
                bottom: 6.3vw !important;
            }
            .card-small-desc {
                font-size: 1.2vw !important;
                position: relative;
                bottom: 6vw !important;
                left: 3vw !important;
            }
            .card-buy-button {
                padding: 0.3vw 1.8vw 0.3vw 1.8vw !important;
                font-size: 2vw !important;
                left: 3vw !important;
                bottom: 9vw !important;
            }
            .card-desc {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                font-size: 1.7vw !important;
                position: relative;
                top: 1vw;
                left: 4vw !important;
            }
            .pre-footer-title {
                font-size: 3.5vw !important;
            }
            .footer {
                height: 10vw !important;
                position: relative;
                top: 60vw !important;
                width: 105vw !important;
                right: 5vw !important;
            }
            .footer p {
                font-size: 2vw !important;
            }
            .rev-title {
                left: 10vw !important;
                position: relative;
                font-size: 2.8vw !important;
            }
            .reviews-block img {
                border-radius: 10vw !important;
                border: 2px solid #424242;
                width: 12vw !important;
                height: 12vw !important;
            }
            .rev-title-block {
                font-size: 2.5vw !important;
            }
            .rev-title-desc {
                width: 50vw !important;
                font-size: 1.3vw !important;
            }
            .rev-text p {
                margin-bottom: 0rem !important;
            }
            .rev-text {
                left: 3vw !important;
            }
            .reviews-block {
                left: 20vw !important;
            }
            .questions {
                position: relative;
                top: 60vw !important;
                height: 270vw !important;
            }
            .question-title {
                font-size: 3.5vw !important;
                font-weight: 700 !important;
            }
            .questions-title {
                font-size: 3vw !important;
                width: 80vw !important;
            }
            .question-desc {
                font-size: 1.8vw !important;
            }
            .question {
                position: relative !important;
                right: 6vw !important;
            }
            .questions-title-2 {
                font-size: 3.5vw;
                top: 4vw !important;
                font-weight: 700 !important;
            }
            .footer-left img {
                width: 35vw !important;
                right: 30vw !important;
                top: 4vw;
            }
            .footer-left-desc {
                width: 30vw !important;
                left: 10vw !important;
            }
            .footer-left-link {
                right: 35vw !important;
            }
            .footer-center {
                position: relative;
                left: 38vw !important;
                bottom: 36vw !important;
            }
            .footer-center-link {
                font-size: 2vw !important;
            }
            .footer-right {
                left: 65vw !important;
                bottom: 67vw !important;
            }
            .footer-left {
                position: relative !important;
                left: 0vw !important;
            }
            .footer-hr {
                position: relative;
                bottom: 40vw !important;
            }
            .footer-down {
                position: relative !important;
                display: none !important;
                bottom: 40vw !important;
            }
        }