@media (max-width: 1600px) {
    .card-buy-button {
        left: 0.9vw !important;
        bottom: 1vw !important;
    }
    .footer {
        height: 35vw !important;
    }
}

@media (max-width: 1400px) {
    .card-buy-button {
        padding: 0.3vw 1.8vw 0.3vw 1.8vw !important;
        font-size: 1vw !important;
        left: 1.2vw !important;
    }
    .buy-card {
        height: 23vw !important;
    }
    .header-slider-text {
        width: 35vw !important;
    }
    .header-slider-auth {
        bottom: 6vw !important;
    }
    .slider-buttons {
        bottom: 2vw !important;
    }
}

@media (max-width: 1200px) {
    .footer {
        height: 37vw !important;
    }
}

@media (max-width: 1024px) {
    .footer {
        height: 37vw !important;
    }
    .card-small-desc {
        position: relative;
        bottom: 1.5vw !important;
        padding-bottom: 0vw !important;
    }
    .card-buy-button {
        bottom: 2.5vw !important;
    }
}