@import 'adaptive.css';
.body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header {
    padding-top: 1vw;
    position: relative;
}

.navbar {
    width: 60vw;
    margin: 0 auto;
}

.navbar img {
    width: 12vw;
}

.navbar li {
    list-style-type: none;
    margin-left: 2.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1vw;
}

.navbar-text {
    position: relative;
}

.header-sign-button {
    border: none;
    background: #ed6664;
    padding: 0.35vw 0.9vw;
    outline: none;
    border-radius: 1vw;
    color: white;
}

.header-sign-button:hover {
    background: #114b5f;
    transition: 0.4s;
}

.navbar-text li {
    cursor: pointer;
    transition: 0.4s;
}

.navbar-text li:hover {
    color: red;
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.3vw;
}

.header-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    width: 26vw;
    margin: 0 auto;
    padding-bottom: 2vw;
}

.header-desc span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    width: 26vw;
    margin: 0 auto;
}

.header-body {
    padding-top: 4vw;
}

.input_area {
    padding: 0.9vw;
    width: 20vw;
    border-radius: 0.3vw;
    height: 3vw;
    margin-bottom: 1vw;
    border: 1px solid #E2E3E7;
}

.img-name {
    position: absolute;
    left: 20.5vw;
    top: 2.8vw;
}

.header-input-button {
    background: #ed6664;
    color: #EEEEEE;
    border: none;
    border-radius: 1vw;
    padding: 0.8vw 1.1vw 0.8vw 1.2vw;
    font-size: 0.9vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.logotype-block-text {
    margin: 0 auto;
    width: 100vw;
    background: #ECF8F5;
    padding-bottom: 5vw;
}

.logotype-block-text p {
    font-family: 'Poppins', italic;
    font-weight: 700;
    font-size: 1.9vw;
    width: 50vw;
    position: relative;
    left: 25vw;
    top: 3vw;
}

.img-email {
    position: absolute;
    left: 20.5vw;
    top: 7.0vw;
}

.img-phone {
    position: absolute;
    left: 20.6vw;
    top: 10.8vw;
}

.header-input-div {
    position: relative;
    bottom: 2vw;
}

.header-body input {
    position: relative;
    top: 2vw;
}

.header-top-text {
    position: relative;
    left: 22vw;
    top: 2vw;
}

.header-body button:hover {
    background: #114b5f;
}

.header-down-text {
    position: relative;
    top: 3vw;
    font-weight: 1vw;
}

.header-top-input {
    width: 25vw;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    height: 21vw;
    position: relative;
    left: 30vw;
}

.header-top-input p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-top: 0.5vw;
    font-size: 1.8vw;
}

.header-slider {
    width: 60vw;
    position: relative;
    left: 7vw;
    top: 6vw;
    margin: 0 auto;
}

.slide {
    width: 40vw;
    height: 7vw;
    margin: 2vw 5vw 2vw 2vw;
    border-radius: 0.8vw;
    -webkit-box-shadow: 0px 0px 30px -5px #EEEEEE;
    -moz-box-shadow: 0px 0px 30px -5px #EEEEEE;
    box-shadow: 0px 0px 30px -5px #EEEEEE;
    border: 0.01vw solid #EEEEEE;
}

.slide img {
    width: 6vw;
    position: relative;
    bottom: 1vw;
    right: 4vw;
}

.header-slider-text {
    position: relative;
    font-style: italic;
    width: 40vw;
    font-size: 1vw;
    left: 3vw;
    bottom: 6vw;
}

.header-slider-decoration {
    position: absolute;
    font-size: 72px;
    font-weight: bold;
    font-style: normal;
    color: #92CDF4;
    left: 47vw;
    bottom: 2vw;
}

.header-slider-auth {
    font-style: italic;
    font-weight: bold;
    position: relative;
    left: 3vw;
    font-size: 0.8vw;
    bottom: 5vw;
}

.header-slider-auth span {
    font-style: italic;
    font-weight: 400;
}

.slick-arrow {
    display: none !important;
}

.slick-slide {
    outline: none !important;
}

.slick-list {
    width: 50vw;
}

.fa-quote-right {
    color: #ed6664;
    position: relative;
    left: 38vw;
    top: 5vw;
    font-size: 1vw;
}

.logotype-block {
    width: 100vw;
    height: 40vw;
}

.site-body {
    width: 100vw;
    padding-top: 10vw;
    margin: 0 auto;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.body-title {
    font-size: 1.6vw;
    padding-top: 3vw;
}

.slider-img {
    width: 60vw;
    position: relative;
    left: 18vw;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.screen-slider {
    padding-top: 3vw;
}

.slider-buttons {
    height: 70vw;
    position: relative;
    left: 20vw;
}

.demo-button {
    width: 18vw;
    height: 4.4vw;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    align-items: center;
    display: flex;
    border-radius: 0.5vw;
    flex-flow: column wrap;
    margin-bottom: 1.5rem;
}

.demo-button-active {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 2px 2px 8px #EEEEEE;
    border-radius: 8px;
}

.demo-button img {
    width: 2vw;
    position: relative;
    right: 0vw;
    top: 0.4vw;
}

.demo-button p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1vw;
}

.demo-button span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.7vw;
    position: relative;
    bottom: 0.5vw;
}

.demo-button-text {
    position: relative;
    left: 2vw;
    bottom: 0.2vw;
}

.logo-title {
    font-size: 1.6vw;
    padding-bottom: 20vw;
}

.logo-title-1 {
    font-size: 1.6vw;
    padding-top: 3vw;
    width: 50vw;
    position: relative;
    left: 24vw;
}

.buy-cards {
    position: relative;
    top: 5vw;
    right: 5vw;
    font-family: "Poppins", Helvetica, sans-serif !important;
}

.buy-cards-title {
    font-family: "Poppins", Helvetica, sans-serif !important;
    font-weight: 700;
    font-size: 1.7vw;
    position: relative;
    top: 5vw;
    left: 30vw;
}

.buy-info-card i {
    font-size: 4vw;
    position: relative;
    left: 0.5vw;
}

.logo-button {
    border: 0.1vw solid #ed6664;
    background: #ed6664;
    color: white;
    padding: 0.5vw 1.2vw 0.5vw 1.2vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    font-weight: 500;
    cursor: pointer;
}

.logotype-list {
    width: 80vw;
}

.logotype-list img {
    width: 50vw;
    position: relative;
    left: 10vw;
}

.buy-info-card img {
    width: 15vw;
}

.buy-info-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position: relative;
    left: 0.5vw;
    padding-top: 0.8vw;
    font-size: 1.2vw;
}

.buy-info {
    width: 40vw;
    margin: 0 auto;
    position: relative;
    right: 3vw;
}

.buy-info-desc {
    width: 13vw;
    position: relative;
    left: 0.5vw;
    font-size: 1vw;
}

.buy-info-card {
    margin-right: 3vw;
}

.buy__cards {
    width: 70vw;
    margin: 0 auto;
    left: 5vw;
    padding-bottom: 5vw;
    position: relative;
    padding-top: 10vw;
}

.buy-card {
    height: 21vw;
    width: 20vw;
    border-radius: 0.5vw;
    margin-right: 5vw;
    box-shadow: 2px 2px 24px 0px #dddddd;
    -webkit-box-shadow: 2px 2px 24px 0px #dddddd;
    -moz-box-shadow: 2px 2px 24px 0px #dddddd;
    color: #424242;
}

.buy-card-button {
    border-radius: 1.5vw;
    position: relative;
    left: 3vw;
    top: 2vw;
    color: white;
    font-weight: 600;
    font-size: 1.3vw;
    font-family: "Poppins", Helvetica, sans-serif;
    background: #ed6664;
    border: none;
    padding: 0.8vw 1.8vw 0.8vw 1.8vw;
}

.buy-card-price-color {
    background-color: rgba(66, 185, 159, 0.28) !important;
}

.buy-card-more {
    color: rgb(3, 119, 237);
    font-weight: 600;
    font-size: 1vw;
    position: relative;
    top: 3vw;
    left: 6.5vw;
}

.fa-arrow-alt-circle-right {
    position: relative;
    padding-right: 0.5vw;
}

.buy-card-body {
    position: relative;
    top: 1vw;
}

.buy-card-price {
    background-color: rgb(241, 241, 241);
    height: 9vw;
}

.card-buy-name {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.8vw;
    position: relative;
    top: 1vw;
}

.card-buy-desc {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7vw;
    padding-top: 2vw;
}

.card-buy-price {
    text-align: center;
    font-size: 3.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.card-buy-price sup {
    font-size: 1.9vw;
    position: relative;
}

.card-small-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.8vw;
    position: relative;
    left: 1vw;
    padding-bottom: 0vw;
}

.card-buy-button {
    text-align: center;
    position: relative;
    left: 1.35vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    bottom: 0vw;
    color: white;
    background: #ed6664;
    border-radius: 0.5vw;
    padding: 0.5vw 2.5vw 0.5vw 2.5vw;
    border: none;
    transition: 0.4s;
}

.card-buy-button:hover {
    background: #114b5f;
}

.month-price {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.6vw;
    position: relative;
    bottom: 1.3vw;
    text-align: center;
}

.card-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7vw;
    position: relative;
    top: 5vw;
    left: 27vw;
}

.pre-footer-title {
    text-align: center;
    font-size: 2vw;
    position: relative;
    top: 5vw;
    left: 2vw;
}

.pre-footer-button {
    border: 0.1vw solid #ed6664;
    background: white;
    color: #ed6664;
    padding: 0.4vw 1.2vw 0.4vw 1.2vw;
    font-size: 1.3vw;
    border-radius: 0.5vw;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    left: 44vw;
    top: 6vw;
}

.footer {
    width: 102vw;
    background: #114B5F;
    height: 30vw;
    position: relative;
    right: 2vw;
    top: 10vw;
}

.footer-product {
    list-style-type: none;
    position: relative;
    top: 3vw;
    left: 20vw;
}

.footer-product li {
    margin: 1vw;
    font-size: 1vw;
}

.product-title {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1vw;
}

.footer-company {
    list-style-type: none;
    position: relative;
    top: 3vw;
    left: 20vw;
}

.footer-company li {
    list-style-type: none;
    margin: 1vw;
    font-size: 1vw;
}

.footer-support {
    list-style-type: none;
    position: relative;
    top: 3vw;
    left: 25vw;
}

.footer-support li {
    list-style-type: none;
    margin: 1vw;
    font-size: 1vw;
}

.footer-reviews {
    list-style-type: none;
    position: relative;
    top: 3vw;
    left: 25vw;
}

.footer-reviews li {
    list-style-type: none;
    margin: 1vw;
    font-size: 1vw;
}

.footer-reviews img {
    width: 12vw;
    position: relative;
    right: 0.5vw;
}

.footer-down {
    padding-top: 3vw;
}

.footer-hr {
    height: 0.03vw;
    width: 47vw;
    position: relative;
    right: 2.7vw;
    background: white;
}

.footer-terms {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.9vw;
    position: relative;
    left: 23vw;
}

.footer-icons {
    color: white;
    position: relative;
    left: 64.5vw;
}

.footer-icons i {
    margin-right: 0.5vw;
    transition: 0.4s;
    font-size: 1vw;
}

.footer-icons i:hover {
    color: #1F5DEA;
}