@import 'adaptive.css';
.body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header {
    padding-top: 1vw;
    background: #F4FDFC;
    height: 50vw;
    position: relative;
}

.fixed-menu {
    background: #F4FDFC;
    width: 105vw;
    height: 5vw;
    position: fixed;
    bottom: 1vw;
    z-index: 999;
}

.navbar {
    width: 105vw;
    position: fixed;
    right: 6.8vw;
    margin: 0 auto;
    z-index: 999;
    text-align: center;
}

.navbar img {
    width: 20vw;
    position: relative;
    left: 27vw;
}

.navbar li {
    list-style-type: none;
    margin-left: 2.5vw;
    color: black !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: relative;
    right: 10vw;
    font-size: 1vw;
}

.navbar-text {
    position: relative;
}

.header-sign-button {
    border: none;
    background: transparent;
    padding: 0.7vw 1.3vw 0.7vw 1.3vw;
    outline: none;
    position: relative;
    border: 0.2vw solid #000000;
    left: 0vw;
    border-radius: 1.5vw;
    color: black;
    transition: 0.4s;
}

.header-sign-button:hover {
    background: #ed6664;
    border: 0.2vw solid #ed6664;
    color: white;
}

.navbar-text li {
    cursor: pointer;
    color: white;
    transition: 0.4s;
}

.navbar-text li:hover {
    color: #ed6664;
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: black;
    font-size: 3vw;
}

.header-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.5vw;
    width: 35vw;
    position: relative;
    color: black;
    bottom: 1vw;
    margin: 0 auto;
    padding-bottom: 0vw;
}

.header-desc-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1.7vw;
    width: 35vw;
}

.header-desc-1 span {
    font-weight: 600;
}

.header-desc-span {
    font-weight: 700 !important;
    font-size: 2vw;
}

.header-image {
    position: relative;
    width: 48vw;
    left: 10vw;
}

.header-body {
    padding-top: 4vw;
}

.header-button {
    background: #12636F;
    position: relative;
    top: 0vw;
    z-index: 999;
    padding: 1vw 2vw 1vw 2vw;
    text-align: center;
    border-radius: 0.5vw;
    border: none;
    color: white;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.header-button:hover {
    background: #12636F !important;
}

.input_area {
    padding: 0.9vw;
    width: 20vw;
    border-radius: 0.3vw;
    height: 3vw;
    font-size: 1vw;
    margin-bottom: 1vw;
    border: 1px solid #E2E3E7;
}

.img-name {
    position: absolute;
    left: 20.5vw;
    width: 1.3vw;
    top: 2.8vw;
}

.logotype-block-titletext {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    width: 35vw;
    left: 25vw;
    top: 10vw;
    text-align: left;
}

.header-input-button {
    background: #ed6664;
    color: #EEEEEE;
    border: none;
    position: relative;
    bottom: 0vw;
    border-radius: 2vw;
    padding: 0.8vw 1vw 0.8vw 1vw;
    font-size: 0.9vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.logotype-block-text {
    margin: 0 auto;
    width: 102vw;
    position: relative;
    font-weight: 600;
    right: 2vw;
    background: #ECF8F5;
    padding-bottom: 5vw;
}

.logotype-block-text p {
    font-family: 'Poppins', italic;
    font-weight: 600;
    font-size: 1.9vw;
    width: 90vw;
    position: relative;
    left: 5vw;
    top: 3vw;
}

.img-email {
    position: absolute;
    left: 20.5vw;
    top: 7.0vw;
    width: 1.3vw;
}

.img-phone {
    position: absolute;
    left: 20.6vw;
    top: 10.8vw;
    width: 1.3vw;
}

.header-input-div {
    position: relative;
    bottom: 0vw;
}

.header-body input {
    position: relative;
    top: 2vw;
}

.button-input-div {
    position: relative;
    top: 2vw;
}

.questions-button {
    background: #ed6664;
    color: #EEEEEE;
    border: none;
    position: relative;
    bottom: 0vw;
    border-radius: 2vw;
    padding: 0.8vw 1vw 0.8vw 1vw;
    font-size: 0.9vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.header-top-text {
    position: relative;
    left: 13vw;
    font-family: Helvetica, sans-serif !important;
    top: 0vw;
}

.header-body button:hover {
    background: #114b5f;
}

.header-down-text {
    position: relative;
    top: 3vw;
    font-weight: 1vw;
}

.header-top-input {
    width: 25vw;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    height: 22vw;
    top: 8vw;
    position: relative;
    left: 15vw;
}

.header-top-input p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-top: 0.5vw;
    font-size: 1.8vw;
}

.header-slider {
    width: 60vw;
    position: relative;
    left: 7vw;
    top: 6vw;
    margin: 0 auto;
}

.slide {
    width: 40vw;
    height: 7vw;
    margin: 2vw 5vw 2vw 2vw;
    border-radius: 0.8vw;
    -webkit-box-shadow: 0px 0px 30px -5px #EEEEEE;
    -moz-box-shadow: 0px 0px 30px -5px #EEEEEE;
    box-shadow: 0px 0px 30px -5px #EEEEEE;
    border: 0.01vw solid #EEEEEE;
}

.slide img {
    width: 6vw;
    position: relative;
    bottom: 1vw;
    right: 4vw;
}

.header-slider-text {
    position: relative;
    font-style: italic;
    width: 40vw;
    font-size: 1vw;
    left: 3vw;
    bottom: 6vw;
}

.header-slider-decoration {
    position: absolute;
    font-size: 72px;
    font-weight: bold;
    font-style: normal;
    color: #92CDF4;
    left: 47vw;
    bottom: 2vw;
}

.header-slider-auth {
    font-style: italic;
    font-weight: bold;
    position: relative;
    left: 3vw;
    font-size: 0.8vw;
    bottom: 5vw;
}

.header-slider-auth span {
    font-style: italic;
    font-weight: 400;
}

.slick-arrow {
    display: none !important;
}

.slick-slide {
    outline: none !important;
}

.slick-list {
    width: 50vw;
}

.fa-quote-right {
    color: #ed6664;
    position: relative;
    left: 38vw;
    top: 5vw;
    font-size: 1vw;
}

.logotype-block {
    width: 100vw;
    height: 40vw;
}

.site-body {
    width: 100vw;
    padding-top: 5vw;
    margin: 0 auto;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.body-title {
    font-size: 1.6vw;
    padding-top: 3vw;
}

.slider-img {
    width: 50vw;
    position: relative;
    left: 7vw;
    top: 5vw;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.screen-slider {
    padding-top: 3vw;
}

.slider-buttons {
    height: 70vw;
    position: relative;
    left: 20vw;
}

.demo-button {
    width: 18vw;
    height: 4.4vw;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    align-items: center;
    display: flex;
    border-radius: 0.5vw;
    flex-flow: column wrap;
    margin-bottom: 1.5rem;
}

.demo-button-active {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 2px 2px 8px #EEEEEE;
    border-radius: 8px;
}

.demo-button img {
    width: 2vw;
    position: relative;
    right: 0vw;
    top: 0.4vw;
}

.demo-button p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1vw;
}

.demo-button span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.7vw;
    position: relative;
    bottom: 0.5vw;
}

.demo-button-text {
    position: relative;
    left: 2vw;
    bottom: 0.2vw;
}

.logo-title {
    font-size: 1.6vw;
    padding-bottom: 10vw;
    position: relative;
    top: 4vw;
}

.logo-title-1 {
    font-size: 2vw;
    padding-top: 3vw;
    font-weight: 600;
    width: 80vw;
    position: relative;
    left: 8vw;
}

.buy-cards {
    position: relative;
    top: 5vw;
    background: #CBE6E9;
    width: 115vw;
    padding: 5vw;
    padding-right: 20vw;
    height: 30vw;
    right: 10vw;
    font-family: "Poppins", Helvetica, sans-serif !important;
}

.buy-cards-title {
    font-family: "Poppins", Helvetica, sans-serif !important;
    font-weight: 600;
    font-size: 2vw;
    position: relative;
    top: 10vw;
    left: 30vw;
}

.buy-info-card i {
    font-size: 4vw;
    position: relative;
    left: 0.5vw;
}

.logo-button {
    border: 0.1vw solid #ed6664;
    background: #ed6664;
    color: white;
    position: relative;
    top: 0vw;
    padding: 0.5vw 1.2vw 0.5vw 1.2vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    font-weight: 500;
    cursor: pointer;
}

.buy-info-icon {
    width: 4vw !important;
    position: relative;
    left: 4vw;
}

.logotype-list {
    width: 80vw;
}

.logotype-list img {
    width: 50vw;
    position: relative;
    left: 10vw;
}

.buy-info-card img {
    width: 15vw;
}

.buy-info-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position: relative;
    left: 0.5vw;
    padding-top: 0.8vw;
    font-size: 1.2vw;
}

.buy-info {
    width: 40vw;
    margin: 0 auto;
    position: relative;
    right: 0vw;
}

.buy-info-desc {
    width: 17vw;
    position: relative;
    left: 0.5vw;
    font-size: 1vw;
}

.buy-info-card {
    margin-right: 3vw;
    position: relative;
    right: 8vw;
}

.buy__cards {
    width: 70vw;
    margin: 0 auto;
    left: 12.5vw;
    padding-bottom: 5vw;
    position: relative;
    padding-top: 12vw;
}

.buy-card {
    height: 21vw;
    width: 20vw;
    border-radius: 0.5vw;
    margin-right: 5vw;
    box-shadow: 2px 2px 24px 0px #dddddd;
    -webkit-box-shadow: 2px 2px 24px 0px #dddddd;
    -moz-box-shadow: 2px 2px 24px 0px #dddddd;
    color: #424242;
}

.buy-card-button {
    border-radius: 1.5vw;
    position: relative;
    left: 3vw;
    top: 2vw;
    color: white;
    font-weight: 600;
    font-size: 1.3vw;
    font-family: "Poppins", Helvetica, sans-serif;
    background: #ed6664;
    border: none;
    padding: 0.8vw 1.8vw 0.8vw 1.8vw;
}

.buy-card-price-color {
    background-color: rgba(66, 185, 159, 0.1) !important;
}

.buy-card-more {
    color: #ed6664;
    font-weight: 600;
    font-size: 1vw;
    position: relative;
    top: 3vw;
    left: 6.5vw;
}

.fa-arrow-alt-circle-right {
    position: relative;
    padding-right: 0.5vw;
}

.buy-card-body {
    position: relative;
    top: 1vw;
    font-size: 0.8vw;
}

.buy-card-price {
    background-color: rgb(241, 241, 241);
    height: 9vw;
}

.card-buy-name {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.8vw;
    position: relative;
    top: 1vw;
}

.card-buy-desc {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7vw;
    padding-top: 2vw;
}

.card-buy-price {
    text-align: center;
    font-size: 3.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.card-buy-price sup {
    font-size: 1.9vw;
    position: relative;
}

.card-small-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.8vw;
    position: relative;
    left: 1vw;
    padding-bottom: 0vw;
}

.card-buy-button {
    text-align: center;
    position: relative;
    left: 1.35vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    bottom: 0vw;
    color: white;
    background: #ed6664;
    border-radius: 0.5vw;
    padding: 0.5vw 2.5vw 0.5vw 2.5vw;
    border: none;
    transition: 0.4s;
}

.card-buy-button:hover {
    background: #114b5f;
}

.month-price {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.6vw;
    position: relative;
    bottom: 1.3vw;
    text-align: center;
}

.card-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7vw;
    position: relative;
    top: 5vw;
    left: 27vw;
}

.pre-footer-title {
    text-align: center;
    font-size: 2vw;
    position: relative;
    top: 5vw;
    right: 0vw;
}

.pre-footer-button {
    border: 0.1vw solid #ed6664;
    background: white;
    color: #ed6664;
    padding: 0.4vw 1.2vw 0.4vw 1.2vw;
    font-size: 1.3vw;
    border-radius: 0.5vw;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    left: 44vw;
    top: 6vw;
}

.b2b-block {
    position: relative;
    top: 37vw;
}

.b2b-card i {
    font-size: 3vw;
}

.b2b-cards {
    position: relative;
    left: 22vw;
    top: 10vw;
}

.b2b-card {
    margin-right: 5vw;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 0.5vw;
    background: #fff;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(168, 168, 168, 0.5);
    -moz-box-shadow: 0px 0px 7px 5px rgba(168, 168, 168, 0.5);
    -o-box-shadow: 0px 0px 7px 5px rgba(168, 168, 168, 0.5);
    box-shadow: 0px 0px 7px 5px rgba(168, 168, 168, 0.5);
}

.b2b-card-title {
    font-size: 2vw;
    font-weight: 700;
}

.b2b-card-desc {
    text-align: left;
    width: 40vw;
    position: relative;
    bottom: 0.5vw;
    font-size: 1.1vw;
}

.b2b-hr {
    transition: 0.4s;
    position: fixed;
    top: 50vw;
    width: 0vw;
    height: 0.2vw;
    border-radius: 1vw;
    background: #ed6664;
}

.b2b-card:hover .b2b-hr {
    width: 15vw;
}

.distro-cards {
    height: 33vw;
    width: 102vw;
    right: 2vw;
    background: rgba(66, 185, 159, 0.1);
    position: relative;
    top: 20vw;
}

.distro-cards-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2vw;
    position: relative;
    top: 2vw;
}

.distro-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1vw;
}

.distro-desc {
    width: 13vw;
    font-weight: 400;
    font-size: 0.9vw;
}

.distro-card-list {
    position: relative;
    left: 13vw;
    top: 3vw;
}

.distro-card {
    margin-right: 2vw;
    background: white;
    border-radius: 0.4vw;
    padding: 1vw 2vw 1vw 2vw;
    margin-bottom: 2vw;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(168, 168, 168, 0.5);
    -moz-box-shadow: 0px 0px 7px 5px rgba(168, 168, 168, 0.5);
    -o-box-shadow: 0px 0px 7px 5px rgba(168, 168, 168, 0.5);
    box-shadow: 0px 0px 7px 5px rgba(168, 168, 168, 0.5);
}

.rev-title {
    color: rgb(0, 104, 160);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    top: 7vw;
    left: 19vw;
    position: relative;
    font-size: 1.8vw;
}

.reviews {
    position: relative;
    top: 20vw;
    height: 20vw;
}

.reviews button {
    border: none;
    background: #ed6664;
    padding: 0.35vw 1.3vw;
    outline: none;
    position: relative;
    left: 40vw;
    top: 5vw;
    height: 3vw;
    font-weight: 600;
    font-size: 1.2vw;
    border-radius: 2vw;
    color: white;
    transition: 0, 4s;
}

.reviews button:hover {
    background: #f07876;
}

.reviews-block {
    position: relative;
    top: 10vw;
    left: 25vw;
    padding-bottom: 2vw;
}

.reviews-block img {
    border-radius: 5vw;
    border: 2px solid #424242;
    width: 8vw;
    height: 8vw;
}

.rev-title-block {
    position: relative;
    font-weight: 600;
    font-size: 1.1vw;
}

.rev-text {
    position: relative;
    top: 1vw;
    left: 1vw;
}

.rev-title-desc {
    width: 40vw;
    font-size: 0.8vw;
    font-family: 'Poppins', italic;
}

.rev-line {
    height: 10vw;
}

.question-title {
    font-size: 2.5vw;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 3vw;
}

.questions-title-2 {
    font-size: 2.5vw;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 8vw;
}

.question {
    margin-bottom: 1.5vw;
    border-radius: 20px;
    width: 45vw;
    position: relative;
    top: 6vw;
    left: 29vw;
    cursor: pointer;
    height: 5vw;
    -webkit-box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
}

.question-active {
    height: 10vw !important;
}

.questions-title {
    font-weight: 600;
    position: relative;
    top: 1.4vw;
    text-align: left;
    left: 4vw;
    font-size: 1vw;
}

.fa-question-circle {
    margin-right: 0.5vw;
}


/**/

.question-desc-1 {
    width: 39vw;
    position: relative;
    left: 5.1vw;
    padding-top: 1vw;
    font-size: 0.9vw;
    text-align: left;
}

.question-desc-2 {
    width: 39vw;
    position: relative;
    padding-top: 1vw;
    left: 5.1vw;
    font-size: 0.9vw;
    text-align: left;
}

.question-desc-3 {
    width: 39vw;
    position: relative;
    left: 5.1vw;
    padding-top: 1vw;
    font-size: 0.9vw;
    text-align: left;
}

.question-desc-4 {
    width: 39vw;
    position: relative;
    left: 5.1vw;
    padding-top: 1vw;
    font-size: 0.9vw;
    text-align: left;
}

.question-desc-5 {
    width: 39vw;
    position: relative;
    left: 5.1vw;
    padding-top: 1vw;
    font-size: 0.9vw;
    text-align: left;
}

.question-desc-6 {
    width: 39vw;
    position: relative;
    padding-top: 1vw;
    left: 5.1vw;
    font-size: 0.9vw;
    text-align: left;
}

.question-desc-7 {
    width: 39vw;
    position: relative;
    padding-top: 1vw;
    left: 5.1vw;
    font-size: 0.9vw;
    text-align: left;
}

.question-desc-8 {
    width: 39vw;
    position: relative;
    padding-top: 1vw;
    left: 5.1vw;
    font-size: 0.9vw;
    text-align: left;
}

.question-desc-9 {
    width: 39vw;
    position: relative;
    padding-top: 1vw;
    left: 5.1vw;
    font-size: 0.9vw;
    text-align: left;
}

.question-desc-10 {
    width: 39vw;
    padding-top: 1vw;
    position: relative;
    left: 5.1vw;
    font-size: 0.9vw;
    text-align: left;
}


/**/

.questions {
    height: 115vw;
    width: 105vw;
    right: 5vw;
    position: relative;
    background: white;
    top: 30vw;
}

.questions button {
    border: none;
    background: #ed6664;
    padding: 0.35vw 1.3vw;
    outline: none;
    position: relative;
    left: 0vw;
    top: 8vw;
    height: 3vw;
    font-weight: 600;
    font-size: 1.2vw;
    border-radius: 2vw;
    color: white;
}

.footer {
    position: relative;
    top: 10vw;
    width: 102vw;
    background: #CBE6E9;
    right: 2vw;
}

.footer-left img {
    width: 22vw;
    position: relative;
    right: 20vw;
    top: 4vw;
}

.footer-left {
    position: relative;
    left: 5vw;
}

.footer-left-desc {
    width: 23vw;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 20vw;
    font-size: 1vw;
    top: 5vw;
    color: black !important;
}

.footer-left-link {
    color: #ed6664;
    font-weight: 500;
    font-size: 1vw;
    position: relative;
    top: 5vw;
    right: 27.5vw;
    font-family: 'Poppins', sans-serif;
}

.footer-center-link {
    text-align: left;
    list-style-type: none;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
}

.footer-center-title {
    font-weight: 600;
    font-size: 1.1vw;
}

.footer-center {
    position: relative;
    left: 50vw;
    bottom: 9vw;
}

.footer-center-text {
    color: #ed6664;
    font-weight: 500;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
}

.footer-center ul>li {
    margin-bottom: 0.3vw;
}

.footer-right {
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 65vw;
    bottom: 22.5vw;
}

.footer-right-title {
    font-weight: 600;
    font-size: 1.1vw;
}

.footer-right-desc i {
    margin-right: 0.5vw;
}

.footer-hr {
    position: relative;
    bottom: 12vw;
}

.footer-down {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 105vw;
    background: #1E91A2;
    height: 2.5vw;
    text-align: center;
    bottom: 13vw;
    color: white;
}

.footer-down-left {
    position: relative;
    right: 5vw;
}

.footer-down-right {
    position: relative;
    left: 23vw;
}

.device-screen {
    width: 70vw;
    position: relative;
    left: 20vw;
    padding-top: 4vw;
}


/*B2B*/

.b2b-section {
    width: 80vw;
    margin: 0 auto;
    top: 50vw;
    position: relative;
    height: 30vw;
    background: #F4FDFC;
}

.b2b-section img {
    position: relative;
    left: 50vw;
    height: 30vw;
    bottom: 23.5vw;
}

.b2b-section p {
    position: relative;
    left: 3vw;
}

.b2b-title {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 2.5vw;
    top: 0.7vw;
    font-weight: 600;
}

.b2b-text {
    position: relative;
    top: 2vw;
}

.distro-1-text {
    position: relative;
    left: 60vw;
    bottom: 15vw;
}

.distro-1 {
    width: 100vw;
    top: 50vw;
    position: relative;
}

.distro-1 img {
    width: 40vw;
    position: relative;
    top: 15vw;
    left: 15vw;
}

.distro-1-title {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 1.5vw;
    font-weight: 600;
    width: 24vw;
}

.distro-1-text ul>li {
    list-style-type: none;
}

.distro-1-card-title {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 1vw;
    font-weight: 600;
}

.distro-1-card-desc {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 1vw;
    font-weight: 400;
    width: 25vw;
}

.distro-1-text i {
    position: relative;
    top: 1.3vw;
    color: #ed6664;
    right: 1.5vw;
}

.distro-2 {
    width: 120vw;
    background: #F4FDFC;
    position: relative;
    top: 35vw;
    height: 40vw;
}

.distro-2 img {
    width: 40vw;
    position: absolute;
    left: 55vw;
    bottom: 10vw;
}

.distro-2-text {
    position: relative;
    left: 15vw;
    top: 5vw;
}

.distro-2-text ul>li {
    list-style-type: none;
}

.distro-2-text i {
    position: relative;
    top: 1.3vw;
    color: #ed6664;
    right: 1.5vw;
}

.questions-title i {
    position: relative;
    right: 1.5vw;
    color: #1E91A2;
}

.down-text {
    position: relative;
    left: 33vw;
    top: 0.5vw;
    font-size: 1vw;
}